<ion-content [fullscreen]="true">
<br>
  <ion-img
  src="./assets/img/Logo_Vida_Sana.png"
  alt=""
  ></ion-img>

<br>
  <ion-img
  src="./assets/img/Logo_Vida_Login.png"
  alt=""
  class="imagen-personalizada"
  ></ion-img>
  <div class="centrado">

     <h1>Activa tu bienestar y disfruta de una vida saludable</h1>

  </div>
  <br>
  <div class="ion-text-center ion-margin-top">
      <ion-button [routerLink]="['/login']"  color="success" expand="block">Iniciar Sesion</ion-button>
      <br><br>
      <ion-button [routerLink]="['/registro']" color="success" expand="block">Registrarse</ion-button>
  </div>
</ion-content>
