<ion-content [fullscreen]="true">
  <br>
  <div class="centrado">

    <h1><b>CATEGORIAS</b></h1>

 </div>

  <br>
    <ion-img
    src="./assets/img/Vistacategoria.png"
    alt=""
    class="imagen-personalizada"
    ></ion-img>
    <br>
    <br>
    <br>
    <div class="ion-text-center ion-margin-top">
        <ion-button (click)="redirectToPausaPage()"  color="success" expand="block" shape="round">PAUSAS ACTIVAS</ion-button>
        <br><br>
        <ion-button (click)="redirectToEjercicioPage()" color="success" expand="block" shape="round">EJERCICIOS</ion-button>
        <br><br>
        <ion-button (click)="redirectToCaminataPage()" color="success" expand="block" shape="round">CAMINATA</ion-button>
    </div>
  </ion-content>

