<ion-content [fullscreen]="true">
    <ion-img
    src="./assets/img/Logo_Vida_Sana.png"
    alt=""
    ></ion-img>
    <div class="centrado">
    <h1>BIENVENIDO!</h1>
    </div>
    <div class="centrado">
      <h4>HOY ES EL MOMENTO, INICIA TU CAMBIO!!!</h4>
   </div>
    <ion-img
    src="./assets/img/preinicio.jpg"
    alt=""
    class="imagen-personalizada"
    ></ion-img>

    <div class="ion-text-center ion-margin-top">

        <ion-button color="success" (click)="redirectToProgresoPage()" expand="block" shape="round">Comenzar</ion-button>
    </div>
  </ion-content>
