<ion-content>
        <ion-button [routerLink]="['/categoria']" color="success" expand="block" shape="round">Seleccionar ejercicios</ion-button>
      </ion-content>

        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button [routerLink]="['/progreso']">
              <ion-icon name="bar-chart-outline"></ion-icon>
              Progreso
            </ion-tab-button>
            <ion-tab-button [routerLink]="['/categoria']" >
              <ion-icon name="barbell-outline"></ion-icon>
              Ejercicio
            </ion-tab-button>
            <ion-tab-button >
              <ion-icon name="person-circle-outline"></ion-icon>
              Perfil
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
