<ion-content>
  <br>
  <ion-img
      src="./assets/img/Logo_Vida_Sana.png"

    ></ion-img>
    <br><br>
  <ion-card>
      <ion-card-header class="centrado">
        <ion-card-title class="titulo">INICIAR SESIÓN</ion-card-title>
      </ion-card-header>
      <br>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
          <br><br>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contrasena" type="password"></ion-input>
        </ion-item>
      </form>
      <br><br><br><br><br><br><br><br><br><br>
        <ion-button (click)="ingresar()" color="success" expand="block" shape="round">
          Ingresar
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
