.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Alinea el texto horizontalmente en el centro */
  height: 100%; /* Ajusta la altura del encabezado según tus necesidades */
}
