<ion-content [fullscreen]="true">
  <br>
  <div class="centrado">

    <h1>CATEGORIAS</h1>
    <br>
    <H4>Pausas Activas</H4>
 </div>
  <br>
    <ion-img
    src="./assets/img/pausasactivas.png"
    alt=""
    class="imagen-personalizada"
    ></ion-img>
    <br>
    <br>
    <br>
    <div class="ion-text-center ion-margin-top">
        <ion-button [routerLink]="['/subcatepausas']"  color="success" expand="block" shape="round">ELOGACION</ion-button>
        <br><br>
        <ion-button [routerLink]="['/registro']" color="success" expand="block" shape="round">ESTIRAMIENTO</ion-button>
    </div>
  </ion-content>
