<ion-content [fullscreen]="true">
  <div class="centrado">
    <h1><b>CATEGORÍAS</b></h1>
    <h4><b>Ejercicios</b></h4>
  </div>

  <ion-img src="./assets/img/ejercicios.jpg" alt="" class="imagen-personalizada"></ion-img>
<br><br><br>
  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="redirectToAerobicosPage()" color="success" expand="block" shape="round">AEROBICOS</ion-button>
    <br>
    <br><br>
    <ion-button [routerLink]="['/']" color="success" expand="block" shape="round">ANAEROBICOS</ion-button>
  </div>
</ion-content>

