
<ion-header>
  <ion-toolbar>
    <ion-title>
      Caminata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pasos Recorridos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pasos: {{ stepCount }}</p>
    </ion-card-content>
  </ion-card>
  <br><br>
  <ion-button (click)="inicioFin()" color="success" expand="block" shape="round">Iniciar Caminata</ion-button>
<br>
<div #map id="map"></div>
</ion-content>
