<ion-content [fullscreen]="true">

    <ion-img
    src="./assets/img/Logo_Vida_Sana.png"
    alt=""
    ></ion-img>
    <div class="centrado">
    <h1>Hola!</h1>
    </div>

    <div class="centrado">
      <h4>Hoy es el momento, inicia tu cambio</h4>
   </div>
   <div class="centrado">
    <h5>Vida Sana consiste en un aplicativo que te ayudara a reducir el estres y poder tener una vida mas saludable.</h5>
 </div>

  <br>
    <ion-img
    src="./assets/img/Logo_Vida_Login.png"
    alt=""
    class="imagen-personalizada"
    ></ion-img>
    <br>
    <div class="ion-text-center ion-margin-top">
        <br><br>
        <ion-button [routerLink]="['/preinico']" color="success" expand="block" shape="round">Comenzar</ion-button>
    </div>
  </ion-content>
