<ion-content [fullscreen]="true">
  <br>
  <div class="centrado">
    <H4><b>Ejercicios - Aerobicos</b></H4>
    <br>
 </div>
  <div class="centrado">
    <H4><b>Sentadillas</b></H4>
  </div>
    <ion-img
    src="./assets/img/sentadillas.jpg"
    alt=""
    class="imagen-personalizada"
    ></ion-img>
    <div class="ion-text-center ion-margin-top">
        <ion-button   color="success"  shape="round">Seleccionar</ion-button>
    </div>
    <br>
    <div class="centrado">
      <H4><b>Salto de Tijera</b></H4>
    </div>
      <ion-img
      src="./assets/img/jumping-jump.jpg"
      alt=""
      class="imagen-personalizada"
      ></ion-img>
      <div class="ion-text-center ion-margin-top">
          <ion-button   color="success"  shape="round">Seleccionar</ion-button>
      </div>
  </ion-content>
