<br>
<br>
  <ion-content [fullscreen]="true" color="success" class="ion-padding">
    <br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>


    <ion-img
      src="./assets/img/Logo_Vida_Sana.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>

    <br><br> <br><br><br><br><br><br><br><br><br><br>
    <div class="ion-text-center ion-margin-top">
    <ion-button [routerLink]="['/bienvenida']" color="dark" expand="block"> ¡Comencemos! </ion-button>
    </div>
  </ion-content>


