<ion-content>
  <ion-card>
    <ion-img
      src="./assets/img/Logo_Vida_Sana.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <ion-card-header class="centrado">
      <ion-card-title class="titulo" >Crear una Cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item>
          <ion-label position="floating">Primer Nombre</ion-label>
          <ion-input formControlName="primerNombre"  id="primerNombre"  type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Segundo Nombre</ion-label>
          <ion-input formControlName="segundoNombre" id="segundoNombre" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input formControlName="apellidoPaterno"  id="apellidoPaterno" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input formControlName="apellidoMaterno" id="apellidoMaterno" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo Electronico</ion-label>
          <ion-input formControlName="correo" id="correo" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="contrasenaHash" id="contrasenaHash" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input formControlName="confirmarContrasena" id="confirmarContrasena" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo de documento</ion-label>
          <ion-input formControlName="tipoDocumento" id="tipoDocumento" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">N° Documento</ion-label>
          <ion-input formControlName="documento" id="documento" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-input formControlName="sexo" id="sexo" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Fecha de Nacimiento</ion-label>
            <ion-input formControlName="fechaNacimiento" id="fechaNacimiento" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Peso</ion-label>
            <ion-input formControlName="peso" id="peso" type="number" step="0.01"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Altura</ion-label>
            <ion-input formControlName="altura" id="altura" type="number" step="0.01"></ion-input>
        </ion-item>
      </form>
        <ion-button (click)="guardar()" color="success" shape="round" expand="block">
         Registrarse
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
